* {
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';
    border-style: rgba(255,255,255,0.92);
}

#cv {
    display: block;
    position: relative;
    width:65%;
    box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.4);
    background-color: rgb(221, 218, 215);
}

header{
    height: 150;
    position: relative;
    text-align: center;
    background-color: rgb(175, 174, 173);


   
}
header ul {
    padding: 0;
}
header ul li {
    display: block;
    padding: 10;
}

header ul li a {
    text-decoration: none;
    padding: 10px;
    color:black;
}


.name  {
    margin: 0;
    font-family: 'Comfortaa' ;

    font-size: 200%;

}
h1 {
    margin: 0;
}
/* nav */
nav {
    display: flex;
    height: 120px;
    font-size: 150%;


}
nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}
nav li:hover {
    background-color:rgb(228, 202, 163) ;
    border-radius: 40%;
}

hr{
    margin-left: 2%;
    width: 80%;
    
}
h2{
    align-self: flex-start;
}

/* main */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}


/* left side */
.side-bar {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    margin: 0 4% 0 4%;
    background-color: rgb(228, 202, 163);
   
}
.img {
    align-self: center;
}
.img  img {
    border-radius: 50%;
}

.side-bar section {
    margin-top: 40px;
    margin-left: 20px;
}

.side-bar p {
    margin-left: 6%;

}

i{
    color: rgb(139, 127, 107) ;
    margin-right: 4%;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display:inline-block ;

}
.dot_col {
  height: 15px;
  width: 15px;
  background-color: rgb(163, 162, 159);
  border-radius: 50%;
  display:inline-block ;

}
.side-bar ul li {
    display: block;
    padding: 10;
}

.side-bar li a {
    text-decoration: none;
    padding: 10px;
    color:black;
}


/*right side */
aside{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-end;
    width: 45%;
}
code {
    width: 100%;
   
}

pre{
    background-color: rgb(184, 181, 181);
    width: 100%;
}
aside ul li {
    
    display: block;
    padding: 10;
}
aside ul li a {
    width: max-content;
}

aside ul li a:hover {
    background-color: rgb(228, 202, 163);
}

aside ul li a {
    text-decoration: none;
    padding: 10px;
    color:black;
}


aside ol li {
    
    width: max-content;
    padding: 10;
}
aside ol li:hover{
    background-color: rgb(228, 202, 163);

}

aside  ol li  a {
    text-decoration: none;
    padding: 10px;
    color:black;
}


aside h2 {
    width: max-content;
    /* border-radius:40% ; */
    background-color: rgb(228, 202, 163);
    

}



/* footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;

}

footer i {
    font-size: 400%;
}

.copyright {
    font-size: 200%;
}


/* scrolbar */
.scrollbar-element{
    scrollbar-color: red yellow;
}
